root=true

[*]
charset=utf-8
indent_size=2
indent_style=space
insert_final_newline=true
trim_trailing_whitespace=true

[*.md]
indent_size=unset

[*.svg]
insert_final_newline=false

[.github/**/*.md]
trim_trailing_whitespace=false # Templates with trailing whitespace are more usable

[_data/simple-icons.json]
indent_size=4
