root=true

[*]
charset=utf-8
insert_final_newline=true

[LICENSE.md]
indent_size=unset
indent_style=space

[*.{json,yml}]
indent_size=2
indent_style=space

[*.svg]
insert_final_newline=false

[.github/**/*.md]
trim_trailing_whitespace=false # Templates with trailing whitespace are more usable

[_data/simple-icons.json]
indent_style=space
indent_size=4
trim_trailing_whitespace=true
