# Ignore all files in root
/*
# Except the ones we want to publish
!_data/
!icons/
!package.json
!DISCLAIMER.md
!README.md
!LICENSE.md
!VERSIONING.md
!index.js
!index.d.ts
!icons.js
!icons.mjs
!icons.d.ts
