# Ignore all files in root
/*
# Except the ones we want to publish
!_data/
!icons/
!package.json
!DISCLAIMER.md
!README.md
!LICENSE.md
!VERSIONING.md
!index.js
!index.mjs
!index.d.ts
!types.d.ts
!sdk.mjs
!sdk.js
!sdk.d.ts
