# We prefer our own custom formatting for MarkDown files.
# See the following thread for the discussion:
#   https://github.com/simple-icons/simple-icons-font/pull/73
*.md

# We use our own formatting for the data files.
_data/simple-icons.json

# JavaScript templates are invalid JavaScript so cannot be formatted.
scripts/build/templates/*.js

# Generated JavaScript files don't need to be formatted
index.js
icons.js
icons.mjs
icons.d.ts
