# We prefer our own custom formatting for MarkDown files.
# See the following thread for the discussion:
#   https://github.com/simple-icons/simple-icons-font/pull/73
LICENSE.md
slugs.md

# We use our own formatting for the data files.
_data/simple-icons.json
