name: Merge Release Pull Request
on:
  pull_request_review:
    types: [submitted]

jobs:
  release:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'release')
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: simple-icons/release-action@v1
        with:
          repo-token: ${{ steps.app-token.outputs.token }}
