name: Potential Duplicates
on:
  issues:
    types: [opened]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: wow-actions/potential-duplicates@v1
        with:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          label: duplicate
          exclude: |
            adding
            add
            creating
            create
            icons
            icon
            logos
            logo
            missing
            miss
            needing
            need
            new
            please
            requesting
            request
            project
            updated
            outdated
            brand
            assets
            for
            from
          state: all
          threshold: 0.8
          comment: |
            This issue is potentially a duplicate of one of the following issues:
            {{#issues}}
              - #{{ number }} ({{ accuracy }}%)
            {{/issues}}
