name: Renovate

on:
  schedule:
    - cron: '0 0 1 5,11 *'
  workflow_dispatch:

jobs:
  check-is-fork:
    name: Check if running in a fork
    runs-on: ubuntu-latest
    permissions: {}
    outputs:
      is-fork: ${{ steps.check.outputs.is-fork }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/check-is-fork
        id: check
        with:
          in-fork-message: 'Renovate workflow only can run in the main repository, skipping.'
  renovate:
    runs-on: ubuntu-latest
    needs: check-is-fork
    if: needs.check-is-fork.outputs.is-fork != 'true'
    timeout-minutes: 15
    permissions:
      contents: write
      issues: write
      pull-requests: write
      checks: write
      statuses: write
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
      - name: Renovate
        uses: renovatebot/github-action@v43.0.19
        with:
          configurationFile: .github/renovate.json5
          token: ${{ steps.app-token.outputs.token }}
        env:
          LOG_LEVEL: debug
