name: Renovate

on:
  schedule:
    - cron: '0 0 1 5,11 *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
      - name: Renovate
        uses: renovatebot/github-action@v40.3.4
        with:
          configurationFile: .github/renovate.json5
          token: ${{ steps.app-token.outputs.token }}
        env:
          LOG_LEVEL: debug
